## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=2
a=int(a)
print(a)

2

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
b=8.5
print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
mi_nombre='Sergio'
print(type(mi_nombre))
print(mi_nombre)

<class 'str'>
Sergio

5) Crear una variable que contenga un número complejo

In [6]:
c=2+10j

<class 'complex'>
(2+10j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
print(type(c))

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
import math
from math import pi
d=round(pi,4)
print(d)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
A='True'
B=True
print(A==B)

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [12]:
print(type(A))
print(type(B))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [13]:
l=1
l=int(l)

k=2.2
k=float(k)

g=l+k
print(type(g))

<class 'float'>

11) Realizar una operación de suma de números complejos

In [14]:
r=1+2j

print(c+r)

(3+12j)

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
print(a+r)

(3+2j)

13) Realizar una operación de multiplicación

In [16]:
print(a*b)

17.0

14) Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
cociente=27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
parte_entera=27//4
print(parte_entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
residuo=27%4
print(residuo)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [21]:
print(4*parte_entera+residuo)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [22]:
tt='solo variables '
ss='alfanuméricas'

print(tt+ss)

solo variables alfanuméricas

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [23]:
print("2"==2)

#porque "2" es un str y 2 es un int.

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [24]:
print(int("2")==2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [25]:
#porque '3.8' es un string
type('3.8')

str

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [26]:
x=3
x-=1
print(x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [27]:
1<<2

#porque está corriendo el 1 dos posiciones a la izquierda, dejándolo en el lugar de 2^2 y el resto hay 0's. Quedando 0+4+0+0

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [30]:
#Dice:  TypeError: unsupported operand type(s) for +: 'int' and 'str'
aa=2
bb='2'
print(aa+int(bb))
print(str(aa)+bb)

#No siempre arrojará el mismo resultado

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [32]:
a=4
b='2'
print(a*b)

2222